In [9]:
%%bigquery
select * from covid19_data_analysis.jhu_covid19_usafacts_confirmed_cases where county_fips_code = '13153'
limit 20

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_4_12_20,_4_13_20,_4_14_20,_4_15_20,_4_16_20,_4_17_20,_4_18_20,_4_19_20,_4_20_20,_4_21_20
0,13153,Houston County,GA,13,0,0,0,0,0,0,...,121,129,138,142,158,164,165,166,182,184

In [10]:
%%bigquery
select total_pop from covid19_data_analysis.censes_bureau_acs_county_2018_1yr where geo_id = '13153'
limit 20

   total_pop
0   155469.0

In [ ]:
## As we are comparing COVID-19 cases to county population, and population of different races, we will do a join that keeps all the counties that have a value for COVID-19

In [ ]:
## Query below compares total county population and COVID-19 confirmed cases

In [32]:
%%bigquery
select y.geo_id, y.total_pop, x._4_21_20
from covid19_data_analysis.jhu_covid19_usafacts_confirmed_cases x
LEFT JOIN covid19_data_analysis.censes_bureau_acs_county_2018_1yr y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.total_pop is not null
ORDER BY x.county_fips_code
LIMIT 5

  geo_id  total_pop  _4_21_20
0  01003   218022.0       123
1  01015   114277.0        83
2  01043    83442.0        45
3  01049    71385.0        51
4  01051    81887.0        73

In [20]:
%%bigquery
select count(y.geo_id)
from covid19_data_analysis.jhu_covid19_usafacts_confirmed_cases x
LEFT JOIN covid19_data_analysis.censes_bureau_acs_county_2018_1yr y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null

   f0_
0  827

In [33]:
%%bigquery
create or replace view covid19_data_analysis.Relationship_between_county_population_and_confirmed_cases as
select y.geo_id, y.total_pop, x._4_21_20
from `sunny-advantage-266802.covid19_data_analysis.jhu_covid19_usafacts_confirmed_cases` x
LEFT JOIN `sunny-advantage-266802.covid19_data_analysis.censes_bureau_acs_county_2018_1yr` y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.total_pop is not null
ORDER BY x.county_fips_code

Empty DataFrame
Columns: []
Index: []

In [2]:
%%bigquery
select max(y.geo_id)
from covid19_data_analysis.censes_bureau_acs_county_2018_1yr y

     f0_
0  72139

In [3]:
%%bigquery
select max(x.county_fips_code)
from covid19_data_analysis.jhu_covid19_usafacts_confirmed_cases x

     f0_
0  56045

In [4]:
%%bigquery
select max(y.geo_id)
from covid19_data_analysis.jhu_covid19_usafacts_confirmed_cases x
LEFT JOIN covid19_data_analysis.censes_bureau_acs_county_2018_1yr y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.total_pop is not null

     f0_
0  56025

In [5]:
%%bigquery
select min(y.geo_id)
from covid19_data_analysis.jhu_covid19_usafacts_confirmed_cases x
LEFT JOIN covid19_data_analysis.censes_bureau_acs_county_2018_1yr y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.total_pop is not null

     f0_
0  01003

In [7]:
%%bigquery
select y.geo_id, y.black_pop, x._4_21_20
from covid19_data_analysis.jhu_covid19_usafacts_deaths x
LEFT JOIN covid19_data_analysis.censes_bureau_acs_county_2018_1yr y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.black_pop is not null
ORDER BY x.county_fips_code
LIMIT 5

  geo_id  black_pop  _4_21_20
0  01073   281806.0        16
1  01089    87525.0         4
2  01097   148775.0        28
3  02020    16163.0         4
4  02170      883.0         1

In [8]:
%%bigquery
create or replace view covid19_data_analysis.Relationship_between_black_population_and_deaths as
select y.geo_id, y.black_pop, x._4_21_20
from `sunny-advantage-266802.covid19_data_analysis.jhu_covid19_usafacts_deaths` x
LEFT JOIN `sunny-advantage-266802.covid19_data_analysis.censes_bureau_acs_county_2018_1yr` y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.black_pop is not null
ORDER BY x.county_fips_code

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery
select y.geo_id, y.white_pop, x._4_21_20
from covid19_data_analysis.jhu_covid19_usafacts_deaths x
LEFT JOIN covid19_data_analysis.censes_bureau_acs_county_2018_1yr y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.black_pop is not null
ORDER BY x.county_fips_code
LIMIT 5

  geo_id  white_pop  _4_21_20
0  01073   326993.0        16
1  01089   236695.0         4
2  01097   233288.0        28
3  02020   166481.0         4
4  02170    84723.0         1

In [10]:
%%bigquery
create or replace view covid19_data_analysis.Relationship_between_white_population_and_deaths as
select y.geo_id, y.white_pop, x._4_21_20
from `sunny-advantage-266802.covid19_data_analysis.jhu_covid19_usafacts_deaths` x
LEFT JOIN `sunny-advantage-266802.covid19_data_analysis.censes_bureau_acs_county_2018_1yr` y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.black_pop is not null
ORDER BY x.county_fips_code

Empty DataFrame
Columns: []
Index: []

In [11]:
%%bigquery
create or replace view covid19_data_analysis.Relationship_between_white_and_black_population_and_deaths as
select y.geo_id, y.white_pop,y.black_pop,x._4_21_20
from `sunny-advantage-266802.covid19_data_analysis.jhu_covid19_usafacts_deaths` x
LEFT JOIN `sunny-advantage-266802.covid19_data_analysis.censes_bureau_acs_county_2018_1yr` y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.black_pop is not null
ORDER BY x.county_fips_code

Empty DataFrame
Columns: []
Index: []

In [11]:
%%bigquery
select y.geo_id, (y.black_pop*100/y.total_pop) as black_population_percentage, x._4_21_20
from covid19_data_analysis.jhu_covid19_usafacts_deaths x
LEFT JOIN covid19_data_analysis.censes_bureau_acs_county_2018_1yr y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.black_pop is not null
ORDER BY x.county_fips_code
LIMIT 5

  geo_id  black_population_percentage  _4_21_20
0  01073                    42.743212        16
1  01089                    23.880072         4
2  01097                    35.957096        28
3  02020                     5.544046         4
4  02170                     0.820556         1

In [19]:
%%bigquery
create or replace view covid19_data_analysis.Relationship_between_black_population_percentage_and_deaths as
select y.geo_id, (y.black_pop*100/y.total_pop) as black_population_percentage, x._4_21_20
from `sunny-advantage-266802.covid19_data_analysis.jhu_covid19_usafacts_deaths` x
LEFT JOIN `sunny-advantage-266802.covid19_data_analysis.censes_bureau_acs_county_2018_1yr` y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.black_pop is not null
ORDER BY x.county_fips_code

Empty DataFrame
Columns: []
Index: []

In [21]:
%%bigquery
create or replace view covid19_data_analysis.Relationship_between_white_population_percentage_and_deaths as
select y.geo_id, (y.white_pop*100/y.total_pop) as white_population_percentage, x._4_21_20
from `sunny-advantage-266802.covid19_data_analysis.jhu_covid19_usafacts_deaths` x
LEFT JOIN `sunny-advantage-266802.covid19_data_analysis.censes_bureau_acs_county_2018_1yr` y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.white_pop is not null
ORDER BY x.county_fips_code

Empty DataFrame
Columns: []
Index: []

In [22]:
%%bigquery
create or replace view covid19_data_analysis.Relationship_between_asian_population_percentage_and_deaths as
select y.geo_id, (y.asian_pop*100/y.total_pop) as asian_population_percentage, x._4_21_20
from `sunny-advantage-266802.covid19_data_analysis.jhu_covid19_usafacts_deaths` x
LEFT JOIN `sunny-advantage-266802.covid19_data_analysis.censes_bureau_acs_county_2018_1yr` y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.asian_pop is not null
ORDER BY x.county_fips_code

Empty DataFrame
Columns: []
Index: []

In [23]:
%%bigquery
create or replace view covid19_data_analysis.Relationship_between_hispanic_population_percentage_and_deaths as
select y.geo_id, (y.hispanic_pop*100/y.total_pop) as hispanic_population_percentage, x._4_21_20
from `sunny-advantage-266802.covid19_data_analysis.jhu_covid19_usafacts_deaths` x
LEFT JOIN `sunny-advantage-266802.covid19_data_analysis.censes_bureau_acs_county_2018_1yr` y
ON x.county_fips_code = y.geo_id
WHERE y.geo_id is not null and y.hispanic_pop is not null
ORDER BY x.county_fips_code

Empty DataFrame
Columns: []
Index: []

In [25]:
%%bigquery
select max(y.total_pop) from covid19_data_analysis.censes_bureau_acs_county_2018_1yr y

          f0_
0  10105518.0